body {
    background-image: url(https://images.unsplash.com/photo-1508599804355-8ce5238b44b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
}

.title,.timer,.time {
   margin-bottom: 2rem;
   text-align: center;
   color: black;
}

.title,.timer {
    opacity: 0.8;
}

.time {
    font-size: 2rem;
}

.input {
    font-size: 1rem;
    width: 15rem;
    margin : .5rem auto 1rem auto;
    border-radius: 5px;
    padding: 0.5rem;
}

.button {
    font-size: 0.9rem;
    width: 7rem;
    margin : 0 auto 2.5rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: gray; 
}

.buttons {
    display: flex;
    justify-content: center;
    margin : 0 25rem 0 25rem;
    opacity: 0.7;
}